<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        <b>Sobre</b>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <br>Informações adicionais relacionas a aplicação desenvolvida.
    </mat-card-subtitle>
    <mat-card-subtitle class="subtitle">
        <li>Para acessar o repositório do GitHub clique <a href="https://github.com/rafaellcancian/Gerenciamento-de-Fretes" target="_blank" style="color: black;">aqui</a>
        <li>Esta aplicação foi desenvolvida utilizando:
        <img src="assets/images/fluxo.png" class="center">
    </mat-card-subtitle>
    
</mat-card>
