<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        <b>Gerenciamento de Fretes</b>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <br>Seja Bem-vindo(a) ao sistema de Gerenciamento de Fretes.
    </mat-card-subtitle>
    <mat-card-subtitle class="subtitle">
        <li>Para solicitar um frete acesse a "Área do Cliente".
        <li>Para aceitar ou recusar um frete solicitado acesse a "Área do Entregador".
    </mat-card-subtitle>
</mat-card>
