<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item  routerLink="/cliente/fretes">
                <i class="material-icons">
                    person
                </i>
                Área do Cliente
            </a>
            <a mat-list-item  routerLink="/entregador/fretes">
                <i class="material-icons">
                    sports_motorsports
                </i>
                Área do Entregador
            </a>
            <a mat-list-item  routerLink="/sobre">
                <i class="material-icons">
                    info
                </i>
                Sobre
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
